/****** UTILITY ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', 'montserrat', sans-serif;
    position: relative;
    width: 100%;
}

.container{
    display: flex;
}
a{
    text-decoration: none;
    color: #717171;
    display: flex;
}

ul li{
    list-style: none;
}

span{
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.pad20{
    padding-left: 10px;
}

.mtop3{
    margin-top:3px ;
}
.mbott15{
    margin-bottom: 15px;
}

.mbott10{
    margin-bottom: 10px;
}

.pbott10{
    padding-bottom: 10px;
}

.mleft10{
    margin-left: 10px;
}

.mbott30{
    margin-bottom: 30px;
}
.mleft7{
    margin-left: 7px;
}
h2{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}
h5, h4{
    color: white;
    font-size: 15px;
}

a:hover, .brano:hover{
    cursor: pointer;
    color: white;
}

span, h5{
    align-self: center;
}

.flex{
    display: flex;
}

.flex-start{
    justify-content: flex-start;
}

p{
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

/****** ASIDE *****/

aside{
    background-color: black;
    min-width: 200px;
    max-width: 200px;
    height: calc(100vh - 90px);
    padding-top: 10px;
    padding-left: 0px;
    z-index: 10;
}


.green:first-child span{
    color: white;
}

.green:first-child {
    border-left: 2px solid #adff2f;
}

.icon:hover {
    color:white
}


.logo img{
    display: inline;
    height: 40px;
}
.commands{
    margin-top:20px ;
    height: 150px;
}

.logo-small{
    display: none;
}

.icon{
    width: 25%;
    padding-bottom: 10px ;
    padding-left: 15px;
}

.square{
    font-size: 50px;
}

.new-playlist{
    height: 525px;
}

.overflow-playlist{
    height:calc(100vh - 525px);
    overflow: auto;
}
.app{
    border-bottom: 2px solid #555555;
    width: 90%;
    margin-bottom: 15px;
}
.icon-profile{
    width: 25px;
}

.profile{
    height: 25px;
    background-color: #838383;
    border-radius: 50%;
}

/****** / ASIDE *****/

/****** MAIN CENTER ******/


.main-center{
    background-color: #141922;
    width: calc(100% - 200px);
}

.overflow{
    height: calc(100vh - 90px);
    overflow-y: scroll;
}
.upgrade{
    position: fixed;
    width: 100%;
    z-index: 8;
    background-color: rgba(8, 11, 18, 0.4);
    height: 90px;
}

.btn{
    position: fixed;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 40px;
    top: 0;
    right: 2%;
    font-weight: bold;
    font-size: 14px;
}

.btn:hover{
    transform: scale(1.1);
}

.type>*{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
} 

.green-bot {
    border-bottom: 2px solid #adff2f;
    width: 50%;
}

.column{
    flex-direction: column;
}

.type ul li{
    margin: 10px 10px;
}

.song{
    margin: 0 10px;
    position: relative;

}
.library{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}
.song img, .song-bot img{
    width: 200px;
}

.cover-quiete{
    position: absolute;
    top: 0;
    left: 0%;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 46px;
    justify-content: center;
    align-items: center;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    font-size: 40px;
}

.text-song{
    text-align: center;
    margin-top: 20px;
}
.song-bot{
    width: 210px;
    margin: 0 10px;
    position: relative;

}

.library-bot{
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.popolari{
    border-radius: 50%;
}

.cover-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    font-size: 40px;
    border-radius: 50%;
}

.song:hover .cover, .song:hover .cover-circle{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.song .cover-quiete{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
} 
.text-played{
    margin-left: 30px;
    margin-bottom: 30px;
}
/****** / MAIN CENTER ******/

/****** FOOTER ******/

footer{
    background-color: #282828;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 90px;
    display: flex;
}

.music{
    display: flex;
    width: 20%;
    flex-wrap: nowrap;
}

.sinister{
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.music-title{
    margin-left: 8px;
    align-self: center;
}

.brano{
    color: #707070;
    font-size: 10px;
    margin-left: 0;
}
.music-pref {
    display: flex;
    align-self: center;
}

.margin-i{
    margin: 0 20px;
}

.pannel{
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: column;
}

.pannel-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pannel-top a{
    font-size: 20px;
    align-self: flex-start;
    padding: 0 10px;
    justify-content: center;
    color: white;
}

.pannel-top a:nth-child(3){
    font-size: 30px;
    margin: -5px 20px;
}

.pannel-top a:hover{
    transform: scale(1.3);
}

.pannel-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.minute{
    display: flex;

}
.minute span{
    color:white;
    font-size: 10px;
}

.bar{
    width: 500px;
    height: 4px;
    border-radius: 4px;
    background-color: #595959;
    cursor: pointer;
    position: relative;   
    margin-left: 10px; 
}

#sliding-bar{
    width: 11%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    top: 0;
    left: 0;
}

#cursor{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    display: none;
    top: -4px;
    left: 45px;
}

.bar:hover #cursor, .bar-small:hover #cursor-small{
    display: inline;
}

.bar:hover #sliding-bar, .bar-small:hover #sliding-bar-small{
    background-color: #adff2f;
}

.volume{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.volume a{
    color: white;
    margin: 0 5px;
}


.bar-small{
    width: 100px;
    height: 4px;
    border-radius: 4px;
    background-color: #595959;
    cursor: pointer;
    position: relative;    
}

#sliding-bar-small{
    width: 23%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    top: 0;
    left: 0;
} 

#cursor-small{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    display: none;
    top: -5px;
    left: 22px;
}

/****** / FOOTER ******/

/****** MEDIA QUERY ******/






/****** / MEDIA QUERY ******/

@media screen and (max-width: 520px) {
    aside{
        min-width: 50px;
        max-width: 50px;    
        padding: 10px;
    }
    .commands .icon{ 
        display: inline;
        margin: 0;
    }
    .commands span{
        display: none;
    }
    .flex .icon{
        display: inline;
    }
    .commands .icon-play{
        display: inline;
    }

    .new-playlist>*{
        display: none;
    }
    .bottom-nav span, .bottom-nav h5{
        display: none; 
    }

    .bottom-nav img{
        display: inline;
    }
    .icon-profile{
        border-top: none;
        margin: 0;
    }
    .logo img{
        display: none;
    }
    .logo-small{
        display: inline;
        height: 40px;
    }
    .music{
        width: 35%;
    }
    .volume{
        width: 30%;
    }
    
    .pannel{
        width: 195px;
    }
    
   .music .music-pref{
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin-right: 40px;
    }   
    
    .green:first-child {
        border-left: none;
    }
    .icon{
        padding-left: 0;
        width: 100%;
    }
}
@media screen and (min-width:520px) and (max-width:1500px){
    .library{
        flex-wrap: wrap;
    }
    .type>*{
        flex-wrap: wrap;
    }
    .main-center .upgrade{
        position: fixed;
    }
    .main-center{
    
        width: 100%;
        }
}