/****** UTILITY ******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', 'montserrat', sans-serif;
    position: relative;
    width: 100%;
}

a{
    text-decoration: none;
    color: #717171;
    display: flex;
}

ul li{
    list-style: none;
}

span{
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.pad20{
    padding-left: 10px;
}

.mbott15{
    margin-bottom: 15px;
}

.mbott10{
    margin-bottom: 10px;
}
.pbott10{
    padding-bottom: 10px;
}

.mleft10{
    margin-left: 10px;
}

.mleft7{
    margin-left: 7px;
}

h5{
    color: white;
    font-size: 15px;
}
a:hover{
    cursor: pointer;
    color: white;
}

span, h5{
    align-self: center;
}
/****** ASIDE *****/

aside{
    background-color: black;
    min-width: 200px;
    max-width: 200px;
    height: calc(100vh - 90px);
    padding-top: 10px;
    padding-left: 0px;
}


.green:first-child span{
    color: white;
}

.green:first-child {
    border-left: 2px solid #adff2f;
}

.icon:hover {
    color:white
}


.logo img{
    display: inline;
    height: 40px;
}
.commands{
    margin-top:20px ;
    height: 150px;
}

.logo-small{
    display: none;
}

.icon{
    width: 25%;
    padding-bottom: 10px ;
    padding-left: 15px;
}

.square{
    font-size: 50px;
}

.new-playlist{
    height: 500px;
}

.app{
    border-bottom: 2px solid #555555;
    width: 90%;
    margin-bottom: 15px;
}
.icon-profile{
    width: 25%;
}

.profile{
    height: 45px;
    background-color: #838383;
    border-radius: 50%;
}



/***** footer *****/

footer{
    background-color: #282828;
    width: 100%;
    height: 90px;
}